<% if flash[:notice] -%>
<p><%= flash[:notice] %></p>
<% end -%>

<div class="title" id="featured">
<h1><span class="f-left"></span><span class="titletext">Featured Products</span><span class="f-right"></span></h1>
</div>

<% if @images.size > 0 -%>
<div id="image-details">
	<%= link_to @images.first.title, image_url(@images.first.slug) %>
	<p><%= @images.first.description %></p>
</div>
<% end -%>

<div id="slider-container">
	<div id="slider-wrapper">
	<div id="slider">
		<% @images.each do |image| %>
		<a data-title="<%= image.title %>" data-desc="<%= image.description %>" href="<%= image_url(image.slug) %>"><%= image_tag(image.main.url) %></a>
		<% end -%>
	</div><!-- #slider -->
	</div>
</div><!-- #slider-container -->

<div class="clearfix"></div>

<div class="title" id="categories">
<h1><span class="f-left"></span><span class="titletext">Browse Categories</span><span class="f-right"></span></h1>
</div>

<div id="ts-display-portfolio">
<ul id="ts-display-pf-col-3">
	<% @nodes.each do |node| %>
	<% if node.recursive_sellables.any? && !node.recursive_sellables.first.item.nil? && node.recursive_sellables.first.item.respond_to?(:gallery) -%>
	<li class="four columns alpha">
		<div class="ts-display-pf-img">
			<%= link_to image_tag(node.recursive_sellables.first.item.gallery.url(:thumb)), piggybak_taxonomy.piggybak_taxonomy_url(:path => node.nav_path) %>
		</div>
		<div class="ts-display-pf-text">
			<h3 class="posttitle"><%= link_to node.title, piggybak_taxonomy.piggybak_taxonomy_url(:path => node.nav_path) %></h3>
		</div>
		<div class="ts-display-clear"></div>
	</li>
	<% end -%>
	<% end -%>
</ul>
<div class="clearfix"></div>
</div><!-- end #ts-display-portfolio -->

<div class="clearfix"></div>

<% if false -%>
<div class="title">
<h1><span class="f-left"></span><span class="titletext">Read the Blog</span><span class="f-right"></span></h1>
</div>

<div id="row2">
	<% recent_posts(4).each do |post| %>
	<div class="three columns alpha">
		<h3><%= link_to post.title, bloggybak.post_url(post.slug) %></h3>
		<span class="smalldate"><%= post.created_at.strftime("%B %d, %Y") %></span>
		<p><%= post.excerpt(230) %></p>
	</div>
	<% end -%>
</div><!--#row2-->
<% end -%>
